body {
    color: #1B0A42;
    font-family: "Roboto";
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

.logo {
    color: #0A1B32;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.6px;
    display: inline-block;
    margin-top: 37px; 
    margin-left: 80px;
    margin-bottom: 0px;
}

.logo span {
    color: #4F56F1;
}

.site-navigation {
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.32px;
    display: inline-block;
    margin-left: 57.5px;
    transform: translateY(-5.61px);
}



.site-navigation li {
    display: inline;
    margin: 0 20px;
}

.sign-in-buttons {

    float: inline-end;
    margin-top: 30px;
    margin-right: 59.7px;
}


.sign-in-button {
    width: 120px;
    height: 59.651px;
    background: #FFF;
    border: #FFF;
    border-radius: 6px;
    color: #1B0A42;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

.sign-in-button:hover {
    background: #9A9A9A;
}

.sign-up-button {
    width: 120px;
    height: 59.651px;
    border-radius: 6px;
    background: #4F56F1;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

.main-text {
    margin-left: 200px;
    float: inline-start;
}

.main-title {
    color: #1B0A42;
    font-family: Ramaraja;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 76px; /* 105.556% */
    letter-spacing: 1.44px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 200px;
}

.main-content {
    color: #9A9A9A;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
    max-width: 538.078px;
    width: 100%;
    margin-top: 0;
}

.main-button {
    width: 152px;
    height: 63.818px;
    border-radius: 6px;
    background: #4F56F1;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 200% */
    letter-spacing: 0.32px;
    margin-top: 50px;
}

.main-image {
    float: inline-end;
    margin-top: 108px;
    margin-right: 94px;
    max-height: 604px;
    height: 100%;
}